* {
    box-sizing: border-box;
    font-family: 'Fraunces';
}

header {
    background-image: url("/img/header.jpg");
    font-size: 50px;
    text-align: center;
}

body {
    margin: 0;
}

img {
    border-radius: 10px;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* ------------------------------- */

.one-column {
    width: 100%;
    height: auto;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}